PandPproject/PandPMobileApp/Service References/PandPNameSpace/PandPproject-Web-Services-PandPDomainService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PandPproject.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PandPproject.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Members">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Members" nillable="true" type="tns:Members" />
  <xs:complexType name="sysdiagrams">
    <xs:sequence>
      <xs:element minOccurs="0" name="definition" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="diagram_id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="principal_id" type="xs:int" />
      <xs:element minOccurs="0" name="version" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sysdiagrams" nillable="true" type="tns:sysdiagrams" />
  <xs:complexType name="Traffic">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arrival" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Departure" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GPSPickUp" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MemberID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Traffic" nillable="true" type="tns:Traffic" />
  <xs:complexType name="ArrayOfMembers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Members" nillable="true" type="tns:Members" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMembers" nillable="true" type="tns:ArrayOfMembers" />
  <xs:complexType name="ArrayOfsysdiagrams">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sysdiagrams" nillable="true" type="tns:sysdiagrams" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsysdiagrams" nillable="true" type="tns:ArrayOfsysdiagrams" />
  <xs:complexType name="ArrayOfTraffic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Traffic" nillable="true" type="tns:Traffic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTraffic" nillable="true" type="tns:ArrayOfTraffic" />
</xs:schema>